---
name: macOS

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}@${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  macos-12:
    runs-on: macos-12
    name: macos-12 xcode-${{ matrix.xcode }}
    strategy:
      fail-fast: false
      matrix:
        xcode: [ '13.1', '13.2.1', '13.3.1', '13.4.1', '14.0.1', '14.1', '14.2']

    steps:

      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: Install xcodes
        run: brew install xcodesorg/made/xcodes

      - name: List installed Xcode versions
        run: xcodes installed

      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Xcode'
          install_prefix: '../install'
          binary_dir: '../build'

  macos-13:
    name: macos-13 xcode-${{ matrix.xcode }}
    runs-on: macos-13
    strategy:
      fail-fast: false
      matrix:
        xcode: [ '14.1', '14.2', '14.3.1', '15.0.1', '15.1', '15.2' ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: Install xcodes
        run: brew install xcodesorg/made/xcodes

      - name: List installed Xcode versions
        run: xcodes installed

      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Xcode'
          install_prefix: '../install'
          binary_dir: '../build'

  macos-14:
    name: macos-14 xcode-${{ matrix.xcode }}
    runs-on: macos-14
    strategy:
      fail-fast: false
      matrix:
        xcode: [ '14.3.1', '15.0.1', '15.1', '15.2', '15.3', '15.4', '16.0-beta' ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: Install xcodes
        run: brew install xcodesorg/made/xcodes

      - name: List installed Xcode versions
        run: xcodes installed

      - name: Setup XCode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: ${{ matrix.xcode }}

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Xcode'
          install_prefix: '../install'
          binary_dir: '../build'

  macos-12-gcc:
    runs-on: macos-12
    name: macos-12 gcc-${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version: [ 12, 13, 14 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'
          variables: |
            CMAKE_C_COMPILER:STRING=gcc-${{ matrix.version }}
            CMAKE_CXX_COMPILER:STRING=g++-${{ matrix.version }}

  macos-13-gcc:
    runs-on: macos-13
    name: macos-13 gcc-${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version: [ 12, 13, 14 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'
          variables: |
            CMAKE_C_COMPILER:STRING=gcc-${{ matrix.version }}
            CMAKE_CXX_COMPILER:STRING=g++-${{ matrix.version }}

  gcc:
    runs-on: macos-latest
    name: gcc-${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version: [ 9, 10, 11, 12, 13, 14 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name : Install gcc v${{ matrix.version }}
        run: brew install gcc@${{ matrix.version }}

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'
          variables: |
            CMAKE_C_COMPILER:STRING=gcc-${{ matrix.version }}
            CMAKE_CXX_COMPILER:STRING=g++-${{ matrix.version }}

  clang:
    runs-on: macos-latest
    name: clang-${{ matrix.version }}
    strategy:
      fail-fast: false
      matrix:
        version: [ 12, 13, 14, 15, 16, 17, 18 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name : Install clang v${{ matrix.version }}
        run: brew install llvm@${{ matrix.version }}

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'
          variables: |
            CMAKE_C_COMPILER:STRING=clang-${{ matrix.version }}
            CMAKE_CXX_COMPILER:STRING=clang++-${{ matrix.version }}
