---
name: Ubuntu

on:
  on:
    push:
      branches: [main]
      paths-ignore:
        - '.github/workflows/**'
        - '!.github/workflows/Ubuntu.yml'
    pull_request:
      paths-ignore:
        - '.github/workflows/**'
        - '!.github/workflows/Ubuntu.yml'
    workflow_dispatch:

concurrency:
  group: '${{ github.workflow }}@${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  gcc:
    runs-on: ubuntu-latest
    name: gcc${{ matrix.version }}
    container: ghcr.io/flagarde/ci-ubuntu-gcc-${{ matrix.version }}-x86_64:latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 4.4, 4.5, 4.6, 4.7, 4.8, 4.9, 5, 6, 7, 8, 9 ]
    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 拘勇 Install git
        run: apt-get update ; apt-get install --no-install-recommends -y git unzip sudo

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'

  gcc-10:
    runs-on: ubuntu-latest
    name: gcc${{ matrix.version }}
    container: ghcr.io/flagarde/ci-ubuntu-gcc-${{ matrix.version }}-x86_64:latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 10, 11, 12, 13, 14 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 拘勇 Install git
        run: apt-get update ; apt-get install --no-install-recommends -y git unzip sudo

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'

  clang:
    runs-on: ubuntu-latest
    name: clang${{ matrix.version }}
    container: ghcr.io/flagarde/ci-ubuntu-clang-${{ matrix.version }}-x86_64:latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 3.5, 3.6, 3.7, 3.8, 3.9, 4, 5, 6, 7, 8, 9]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 拘勇 Install git
        run: apt-get update ; apt-get install --no-install-recommends -y git unzip sudo

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'

  clang-10:
    runs-on: ubuntu-latest
    name: clang${{ matrix.version }}
    container: ghcr.io/flagarde/ci-ubuntu-clang-${{ matrix.version }}-x86_64:latest
    strategy:
      fail-fast: false
      matrix:
        version: [ 10, 11, 12, 13, 14, 15, 16, 17, 18 ]

    steps:
      - uses: ammaraskar/gcc-problem-matcher@0.3.0

      - name: 拘勇 Install git
        run: apt-get update ; apt-get install --no-install-recommends -y git unzip sudo

      - name: 拘勇 Setup CMake
        uses: lukka/get-cmake@latest
        with:
          cmakeVersion: ^3
          ninjaVersion: ^1

      - name: 游닌 Checkout
        uses: actions/checkout@v4

      - name: 丘뙖잺 run-cmake (configure)
        uses: cmake-tools/run-cmake@v0-alpha
        id: 'configure'
        with:
          mode: configure
          generator: 'Ninja Multi-Config'
          install_prefix: '../install'
          binary_dir: '../build'
